shkillers-infra/inventory/production.yml

# Ansible Vault password
.vault-pass
.vault-password
vault-password*

# Environment files
.env
.env.*

# Private keys
*.key
*.pem

# Temporary Ansible files
*.retry

# vscode
.vscode/

# node.js modules
node_modules/

# directory for temporary garbage
misc/