Port {{ security_ssh_port }}

PermitRootLogin {{ security_ssh_permit_root_login }}
PubkeyAuthentication {{ security_ssh_pubkey_authentication | ternary('yes', 'no') }}
PasswordAuthentication {{ security_ssh_password_authentication | ternary('yes', 'no') }}
KbdInteractiveAuthentication {{ security_ssh_kbd_interactive_authentication | ternary('yes', 'no') }}
PermitEmptyPasswords no
UsePAM yes

X11Forwarding {{ security_ssh_x11_forwarding | ternary('yes', 'no') }}
AllowAgentForwarding {{ security_ssh_allow_agent_forwarding | ternary('yes', 'no') }}
AllowTcpForwarding {{ security_ssh_allow_tcp_forwarding | ternary('yes', 'no') }}
PermitTunnel {{ security_ssh_permit_tunnel | ternary('yes', 'no') }}

MaxAuthTries {{ security_ssh_max_auth_tries }}
LoginGraceTime {{ security_ssh_login_grace_time }}s
ClientAliveInterval {{ security_ssh_client_alive_interval }}
ClientAliveCountMax {{ security_ssh_client_alive_count_max }}

{% if security_ssh_allowed_users | length > 0 %}
AllowUsers {{ security_ssh_allowed_users | join(' ') }}
{% endif %}